# Dart / Flutter
.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# IDEs
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# OS
.DS_Store
Thumbs.db

# Secrets / environment
.env
.env.*
!.env.example